.forms {
  text-align: center;
}
.forms__title {
  margin: 7.75rem 0 0.625rem 0;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.3rem;
}
.form__content {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}
.forms__subtitle {
  line-height: 1.31rem;
  text-align: start;
  margin: 0 0 2.93rem 0;
}
.forms__section1,
.forms__section2 {
  display: flex;
}
.forms-name,
.forms-phone,
.forms-region,
.forms-city {
  flex: 0 1 50%;
  margin: 0 2rem 4rem 0;
}
input[type="text"] {
  border: 0.06rem solid transparent;
  border-bottom-color: var(--gray);
  width: 98%;
}
.select {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: start;
  margin-bottom: 2.13rem;
  margin-right: 1rem;
}
#region {
  border: 0.06rem solid transparent;
  border-bottom-color: var(--gray);
  width: 100%;
}
#region:focus option:first-child {
  display: none;
}
.forms-position1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 2rem 3.93rem 0;
}
.forms-position1 div {
  margin-bottom: 1.87rem;
}
.radio {
  padding-left: 2.5rem;
}
.radio__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.radio__box {
  display: block;
  position: absolute;
  margin-top: -0.2em;
  border-radius: 5em;
  background-color: var(--gray2);
  width: 1.5rem;
  height: 1.5rem;
  box-shadow: 0 0 0 0.1em var(--gray3);
}
.radio__input:checked + .radio__box {
  background: url(../images/circle.svg) no-repeat;
  background-position: center;
  background-color: var(--gray2);
}
.radio__input:focus + .radio__box {
  border-color: var(--yellow);
  box-shadow: 0 0 0 0.1em var(--yellow);
}
.forms-position2 {
  display: flex;
  margin: 0 0 2.06rem 0;
}
.forms-position2 div {
  flex-grow: 1;
  margin-bottom: 1.87rem;
}
.forms-position3 {
  display: flex;
  margin: 0 0 3.93rem 0;
}
.forms-position3 div {
  margin-bottom: 1.87rem;
}
.forms-position3 div:first-child {
  flex-basis: 12.9rem;
}
.check {
  padding-left: 0.5rem;
}
.check2 {
  margin-left: -1rem;
}
.check3 {
  padding-left: 2.5rem;
}
.check__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.check__box {
  display: block;
  position: absolute;
  margin-top: -0.2em;
  border-radius: 0.05em;
  background-color: var(--gray2);
  width: 1.5rem;
  height: 1.5rem;
  box-shadow: 0 0 0 0.1em var(--gray3);
}
.check__input:checked + .check__box {
  background: url(../images/check.svg) no-repeat;
  background-position: center;
  background-color: var(--gray2);
}
.check__input:focus + .check__box {
  border-color: var(--yellow);
  box-shadow: 0 0 0 0.1em var(--yellow);
}
.forms__last-section {
  display: flex;
  margin-bottom: 7.75rem;
}
.forms-time,
.forms-button {
  flex: 0 1 50%;
  margin-right: 1rem;
}
.forms-time {
  padding-top: 1rem;
  font-size: 5rem;
}
.forms__button-border {
  padding-top: 1.8rem;
}
.forms__button {
  cursor: pointer;
  background: var(--red);
  padding: 1rem 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--beige);
  border-style: none;
  z-index: 5;
  position: absolute;
}
.forms__button:hover {
  background: var(--orange);
}
.forms__white-border {
  position: relative;
  z-index: 1;
  left: 0.6rem;
  top: 0.6rem;
  border: 0.125rem solid var(--yellow);
  box-sizing: border-box;
  width: 15rem;
  height: 3.13rem;
}
.button-call-back {
  display: none;
}
.consent {
  margin: 1.5rem 0;
}
.check-gray {
  padding-left: 1rem;
}
.check-gray__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.check-gray__box {
  display: block;
  position: absolute;
  border-radius: 0.05em;
  background-color: var(--gray2);
  width: 1rem;
  height: 1rem;
  box-shadow: 0 0 0 0.1em var(--gray3);
}
.check-gray:checked + .check-gray__box {
  background: url(../images/check-gray.svg) no-repeat;
  background-position: center;
  background-color: var(--gray2);
}
.check-gray__input:focus + .check-gray__box {
  border-color: var(--gray);
  box-shadow: 0 0 0 0.1em var(--gray);
}
@media all and (max-width: 628px) {
  .forms__title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 3.8rem 0 0 0;
  }
  .hidden-mobile,
  .forms__section2,
  .forms__payment,
  .forms__services,
  .forms-time {
    display: none;
  }
  .forms__white-border {
    visibility: hidden;
  }
  .forms__section1 {
    flex-direction: column;
  }
  .forms__last-section {
    display: block;
    max-width: 20rem;
    margin: 0 auto;
  }
  .forms-time,
  .forms-button {
    margin: 0;
  }
  .forms__button-border {
    padding: 0;
  }
  .button-call-back {
    display: block;
  }
  .forms__button {
    padding: 1rem 5.2rem;
  }
  .consent {
    margin: 1rem 0;
    text-align: start;
  }
  .check-gray {
    padding-left: 1.5rem;
  }
}
