body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  color: #333333;
  overflow: hidden;
}

header {
  background: #fed100;
  padding-top: 40px;
  overflow: hidden;
}

.header-menu {
  /* background: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

.header-title {
  /* background-color: aqua; */
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  flex-grow: 1;
}

.header-nav {
  /* background-color: brown; */
  flex-grow: 2;
  text-align: center;
}
.header-nav a {
  width: 91px;
  height: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #333333;
  padding-left: 50px;
}

.header-number {
  font-style: normal;
  flex-grow: 1;
  /* background-color: bisque; */
  text-align: right;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.header-burger {
  /* background-color: #ff772b; */
  flex-grow: 1;
  display: none;
}

.header-main {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

.header-main-text {
  /* flex-grow: 1; */
  flex: 0 1 50%;
  /* background-color: rgb(226, 216, 128); */
}

.header-main-text h1 {
  font-size: 75px;
  font-weight: 800;
  margin-bottom: 0;
  /* font-size: calc(24px + 51 * (100vw / 1280)); */
}

.header-main-text h2 {
  font-size: 30px;
  font-weight: 600;
}

.header-main-img {
  /* flex-grow: 1;
  width: 50%; */
  flex: 0 1 50%;
  /* background-color: blueviolet; */
}

.header-main-img-and-button {
  display: none;
}

.header-main-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.button-order {
  background: #ff352b;
  width: 304px;
  height: 60px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #f2f2f2;
  border-style: none;
  z-index: 5;
  position: absolute;
}

.button-order:hover {
  background: #ff772b;
}

/* НЕ СДЕЛАН ХОВЕР НА БЕЛУЮ РАМКУ
.white-border:hover {
  background: #f2f2f2;
} */

.button-and-border {
  padding-top: 30px;
}

.button-and-border2 {
  display: none;
}

.white-border {
  position: relative;
  z-index: 1;
  left: 10px;
  top: 10px;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
  width: 304px;
  height: 60px;
}

.three-icons {
  display: flex;
  margin-top: 66px;
  margin-bottom: 83px;
}

.three-icons img {
  width: 41px;
  height: 40.52px;
  flex-grow: 1;
}

.size {
  flex-grow: 1;
}

.truck p,
.trigger-two p,
.money p {
  flex-grow: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  padding: 0 10px;
  margin: 0;
}

.truck,
.trigger-two,
.money {
  display: flex;
}

@media all and (max-width: 930px) {
  

  .header-title {
    /* background-color: aqua; */
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    flex-grow: 1;
  }

  .header-main-text h1 {
    font-size: 50px;
  }
  .header-nav,
  .header-number {
    display: none;
  }

  .header-burger {
    display: block;
    flex-grow: 1;
    text-align: right;
    padding-right: 10px;
    font-size: 27px;
    /* background-color: #fed100; */
    cursor: pointer;
  }

  .header-main-img {
    display: none;
  }

  .header-main-img-and-button {
    display: flex;
    flex-direction: column;
  }

  .header-main-img2 {
    flex-grow: 1;
  }

  .header-main {
    display: block;
    text-align: center;
  }

  .three-icons {
    display: none;
  }

  .button-and-border {
    display: none;
  }

  .button-and-border2 {
    /* background: #6e2bff; */
    flex-grow: 1;
    display: block;
    padding: 0;
  }

  .button-order2 {
    background: #ff352b;
    width: 99%;
    height: 60px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #f2f2f2;
    border-style: none;
    margin-bottom: 40px;
    /* position: absolute; */
  }
}
